In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame({'N':[], 'h':[], 'trial':[], 'epoch':[], 'loss':[], 'time':[]})
data.loc[len(data)] = [5, 1, 1, 0, 10, -1]
data.loc[len(data)] = [5, 0.1, 1, 0, 9, -2]
data.loc[len(data)] = [5, 0.1, 2, 0, 8, -3]
data.loc[len(data)] = [2, 1, 2, 0, 7, -4]
data.loc[len(data)] = [2, 0.1, 2, 0, 6, -5]
data

     N    h  trial  epoch  loss  time
0  5.0  1.0    1.0    0.0  10.0  -1.0
1  5.0  0.1    1.0    0.0   9.0  -2.0
2  5.0  0.1    2.0    0.0   8.0  -3.0
3  2.0  1.0    2.0    0.0   7.0  -4.0
4  2.0  0.1    2.0    0.0   6.0  -5.0

In [3]:
data = data.set_index(['N', 'h', 'trial', 'epoch'])
data

                     loss  time
N   h   trial epoch
5.0 1.0 1.0   0.0    10.0  -1.0
    0.1 1.0   0.0     9.0  -2.0
        2.0   0.0     8.0  -3.0
2.0 1.0 2.0   0.0     7.0  -4.0
    0.1 2.0   0.0     6.0  -5.0

In [4]:
data.loc[(5, 1, 1, 0)]

loss    10.0
time    -1.0
Name: (5.0, 1.0, 1.0, 0.0), dtype: float64

In [5]:
data.loc[(5, 1, 1, 0), 'loss'] = 'b'

C:\Users\taoha\AppData\Local\Temp\ipykernel_47500\1807544324.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  data.loc[(5, 1, 1, 0), 'loss'] = 'b'
C:\Users\taoha\AppData\Local\Temp\ipykernel_47500\1807544324.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'b' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[(5, 1, 1, 0), 'loss'] = 'b'

In [6]:
data

                    loss  time
N   h   trial epoch
5.0 1.0 1.0   0.0      b  -1.0
    0.1 1.0   0.0    9.0  -2.0
        2.0   0.0    8.0  -3.0
2.0 1.0 2.0   0.0    7.0  -4.0
    0.1 2.0   0.0    6.0  -5.0

In [7]:
data.loc[6, 1, 1, 0] = 100

In [8]:
data

                    loss   time
N   h   trial epoch
5.0 1.0 1.0   0.0      b   -1.0
    0.1 1.0   0.0    9.0   -2.0
        2.0   0.0    8.0   -3.0
2.0 1.0 2.0   0.0    7.0   -4.0
    0.1 2.0   0.0    6.0   -5.0
6.0 1.0 1.0   0.0    100  100.0

In [9]:
data.loc[(5, 0.1, 1, 0), ['loss', 'time']] = 'x', 'y'
data

C:\Users\taoha\AppData\Local\Temp\ipykernel_47500\225402358.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'y' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[(5, 0.1, 1, 0), ['loss', 'time']] = 'x', 'y'

                    loss   time
N   h   trial epoch
5.0 1.0 1.0   0.0      b   -1.0
    0.1 1.0   0.0      x      y
        2.0   0.0    8.0   -3.0
2.0 1.0 2.0   0.0    7.0   -4.0
    0.1 2.0   0.0    6.0   -5.0
6.0 1.0 1.0   0.0    100  100.0